{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h2>Add Tenant</h2>

<a href="/">Back to Dashboard</a>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
{% csrf_token %}

<input name="name" placeholder="Name" required>
<input name="phone" placeholder="Phone" required>

<select name="property" required>
<option value="">Select Property</option>
{% for p in properties %}
<option value="{{ p.id }}">{{ p.name }}</option>
{% endfor %}
</select>

<button>Add Tenant</button>
</form>